body{
    font-family:sans-serif;
    font-size:180%;
}

h1{
    border:solid 5px black;
    text-align:center;
    text-transform:uppercase;
}
p{
    text-align:justify;
}
p.a{
    border-left: double 20px red;
    border-top: double 20px red;
}

p.b{
    border-color:blue green;
    border-style:dashed;
    border-width: 5px 10px 20px 40px;
}
p.c{
    border-color:gold;
    border-style:double;
    border-width:40px 10px;
}
p.d{
    border-color:lime black blue;
    border-width:20px;
    border-style:solid none;
}
p.e{
    border-color:red black black;
    border-width:40px;
    border-style:dashed solid dotted;
}
p.f {
    border-color: black black black red;
    border-width: 10px 40px 20px;
    border-style: dotted solid dashed double;
  }