@font-face {
    font-family: "Ribeye Marrow";
    src: url("ribeye-marrow.woff2");
}
  
@font-face {
    font-family: "Just Another Hand";
    src: url("just-another-hand.woff2");
}
  
@font-face {
    font-family: "Lobster";
    src: url("lobster.woff2");
}
body{
    background-color: #CBAC4D;
}
h1{
    font-family: "Ribeye Marrow";
    text-align:center;
    letter-spacing: 0.5em;
    font-size:4em;
}
p.intro{
    margin:0 30%;
    font-family:sans-serif;
    line-height: 200%;
    text-align: justify;
}
p.latin {
    margin: 0;
    font-family: "Lobster", sans-serif;
    font-size: 2.5rem;
}
p.espanol {
    margin: 0 0 3rem;
    color: white;
    font-family: "Just Another Hand", sans-serif;
    font-size: 4em;
    letter-spacing: 1px;
    text-align: right;
  }
.intro cite{
    text-decoration:underline;
}