body{
    font-family:sans-serif;
}

h2:first-of-type{
    color:#E65C78;
}
h2::first-letter{
    color:red;
}
ul li{
    list-style:none;
}

ul li:nth-child(3){
    color:#81FF81;
}

ul li:nth-child(even)::after{
    visibility:hidden;
    cursor: pointer;
}
ul li:nth-child(even):hover::after{
    margin-left:5px;
    content: 'somos pares';
    visibility: visible;
    color:black
}

ul li:nth-child(odd)::before{
    visibility: hidden;
    cursor: pointer;
}
ul li:nth-child(odd):hover::before{
    visibility: visible;
    content:'somos impares';
    color:black;
}

