
// se crean las variables
$text-color:#eee;
$textColorHover:#fff;
$fondoColor:#666;
$fondoColorHover:#888;



@mixin colorFondoTexto{
    background-color: $fondoColor;
    color:$text-color;
}

@mixin colorFondoTextoHover{
   background-color: $fondoColorHover;
   color:$textColorHover;
}

@mixin extensionCajaNavegador{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border;
}

@mixin transicionesNavegador($propiedad,$duracion,$timing){
    -moz-transition: $propiedad $duracion $timing;
    -webkit-transition: $propiedad $duracion $timing;
    transition: $propiedad $duracion $timing;
}

@mixin animaciones($name,$duracion,$timing){
    -moz-animation: $name $duracion $timing;
    -webkit-animation: $name $duracion $timing;
    animation: $name $duracion $timing;
    
}

@import "_menu.scss";