//estilos resetados del cuerpo
body{
    padding:0;
    margin:0;
}

// estilos de la cabecera

header{
    @include colorFondoTexto;
    padding: 12px 30px;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}








//estilos para el pie
footer{
    @include colorFondoTexto;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;

}