.container{
    position: relative;
}
.caja{
  width: 180px;
  height: 180px;
  background-color: #30B037;
  color: #FFF;
  text-align: center;
  line-height: 180px;
  margin: 15px;
  float: left;
  font-size: 18px;
  font-family: Arial;
}

.caja1{
  
  transition:background-color 2s linear;
}
.caja1:hover{
  background-color:red;
}
.caja2{

  background:purple;
  transition:font-size 2s;
}
.caja2:hover{
  font-size:25px;
}
.caja3{
  background: #2980B9;
  transition:color 2s;
}
.caja3:hover{
  color:yellow;
}
.caja4{
  background: #3498DB;
  transition:line-height 2s;
}
.caja4:hover{
  line-height: 300px;
}
.caja5{
  background:#17A589;
  transition:border-radius 2s;
}
.caja5:hover{
  border-radius:40px;
}
.caja6{
  background: #F1C40F;
  transition:box-shadow 2s;
}
.caja6:hover{
  box-shadow:5px 10px #888888;
}
.caja7{
  background:#E67E22;
  transition:opacity 2s;
}
.caja7:hover{
  opacity: 0.5;
}
.caja8{
  background: #95A5A6;
  transition:border 2s;
}
.caja8:hover{
  border: 5px solid black;
}
.caja9{
  background:#2C3E50;
  transition:margin 2s;
}
.caja9:hover{
  margin:30px;
}
.caja10{
  background:black;
  transition: padding 2s;
}
.caja10:hover{
  padding:2em;
}