div{
    width: 1000px;
    margin-top: 50px;
    height: auto;
    border:1px solid black;
    padding: 1%;
}
h1 {
  width: 180px;
  height: 30px;
  border-radius: 15px;
  margin-top: 50px;
  color:white;
  padding: 1%;
  background: red;
  position: relative;
  animation: myanimation 5s infinite;
}

@keyframes myanimation {
  from {left: 0px;
  		transform:rotate(0deg);
        background: orange;
        }
        
  25%{transform:rotate(20deg);
  	left:400px;
    background: red;
   
  }
  
  50%{transform:rotate(10deg);
  	left:600px;
    background: red;
    
  }
  
  70% {
  left:800px;
  	transform:rotate(0deg);
    background: red;
    
  } 

  90% {
    left:900px;
    transform:rotate(-180deg);
    background: red;
      
    } 

  
  to {left: 0px;
  	transform:rotate(0deg);
     background: orange;
    
   }
}