body{
    background-color:#c6d9ee ;
    text-align:justify;
    font-family: sans-serif;
}

h1{
    font-size:3em;
    text-align:right;
}
h2{
    font-family:monospace;
    font-variant: small-caps;
    font-size:3em;
}
p{
    text-indent: 3em;
    line-height: 2em;
}

span{
    color:red;
    font-family: cursive;
}

strong{
    color:chocolate;
}
em{
    background-color: white;
    color:green;
}
time{
    color: darkorange;
}
address{
    text-align:center;
    font-size:0.8em;
}