body{
    background-color:#D3D3D3;
}
h1{
    text-align:center;
    font-size:50px;
    font-family:arial;
}

ul li{
    float:left;
    width:400px;
    height:400px;
    list-style:none;
    text-decoration:none;
}
ul li a{
    text-decoration:none;
    color:grey;
}
ul li:nth-child(6){
    display:none;
}
a[rel="next"]:before{
    content: url("../img/icons8-plus-24.png");
    
}
a[rel="tag"]:before{
    content: url("../img/icons8-buying-30.png");
}
a[rel="bookmark"]:before{
    content: url("../img/icons8-star-20.png");
}
a[rel="help"]:before{
    content: url("../img/icons8-pdf-20.png");
}
a[rel="nofollow"]:before{
    content: url("../img/icons8-shield-20.png");
}
a[rel="alternate"]:after{
    content: " Brexit";
}
a[rel="search"]:before{
    content: url("../img/icons8-product-documents-20.png");
}