body{
    
    margin: 0 10%;
    text-align: justify;
    background-color: lightgrey;
    font-family: sans-serif;
}
h1{
    text-align: center;
    letter-spacing:10px;
    font-size:280%;
}
h2{
    background-color:gray;
    color:white;
    padding:0.5% 0.7%;
    font-size:200%;
}
p{
    margin:2% 10%;
    
    text-indent: 3%;
}
em{
    color:red;
}
strong{
    background-color: white;
}
img{
    float:left;
    margin-right:1.5%
}